h1
{
    color: rgb(189, 85, 11);
}

body
{
background-color: rgb(249, 247, 252);
}

a
{
    text-decoration: rgb(238, 238, 58) ;
    padding-right: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40;

}
a:hover
{
color: rgb(19, 0, 4);
background-color: black;

}

.logo
{
    width: 50%;
    background-color: rgb(5, 248, 37);
    height: 50px;
    float: left;
}

.menu
{
    width: 50%;
    background-color: crimson;
    height: 50px;
    float: right;
}